In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [31]:
# Lire le fichier CSV
# il y a des ND ou des '-' dans la colonne Eolien (MW)
df = pd.read_csv('eco2mix-regional-cons-def.csv', sep = ';',  na_values=['ND', '-'])
df.head(5)

,Code INSEE région,Région,Nature,Date,Heure,Date - Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),...,TCH Nucléaire (%),TCO Eolien (%),TCH Eolien (%),TCO Solaire (%),TCH Solaire (%),TCO Hydraulique (%),TCH Hydraulique (%),TCO Bioénergies (%),TCH Bioénergies (%),Column 30
0,44,Grand Est,Données définitives,2013-01-01,00:00,2012-12-31T23:00:00+00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84,Auvergne-Rhône-Alpes,Données définitives,2013-01-01,00:00,2012-12-31T23:00:00+00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,27,Bourgogne-Franche-Comté,Données définitives,2013-01-01,00:00,2012-12-31T23:00:00+00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93,Provence-Alpes-Côte d'Azur,Données définitives,2013-01-01,00:00,2012-12-31T23:00:00+00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,Normandie,Données définitives,2013-01-01,00:00,2012-12-31T23:00:00+00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# passage de la colonne Date et type date time
df['Date'] = pd.to_datetime(df['Date'])
df['Date - Heure'] = pd.to_datetime(df['Date - Heure'])

#ajout d'une colonne pour avoir le numéro du jour de la semaine, utile pour comparer les jours de la semaine
df['JourSemaine'] = df['Date'].dt.weekday

#ajout d'une colonne pour avoir le mois, utile pour comparer les mois
df['JourSemaine'] = df['Date'].dt.month

#ajout d'une colonne pour avoir l'année , utile pour comparer les années
df['JourSemaine'] = df['Date'].dt.year

#convertir la colonne code INSEE en string
df['Code INSEE région'] = df['Code INSEE région'].astype('str')

df.dtypes

Code INSEE région                   object
Région                              object
Nature                              object
Date                        datetime64[ns]
Heure                               object
Date - Heure           datetime64[ns, UTC]
Consommation (MW)                  float64
Thermique (MW)                     float64
Nucléaire (MW)                     float64
Eolien (MW)                        float64
Solaire (MW)                       float64
Hydraulique (MW)                   float64
Pompage (MW)                       float64
Bioénergies (MW)                   float64
Ech. physiques (MW)                float64
Stockage batterie                  float64
Déstockage batterie                float64
Eolien terrestre                   float64
Eolien offshore                    float64
TCO Thermique (%)                  float64
TCH Thermique (%)                  float64
TCO Nucléaire (%)                  float64
TCH Nucléaire (%)                  float64
TCO Eolien (%)                     float64
TCH Eolien (%)                     float64
TCO Solaire (%)                    float64
TCH Solaire (%)                    float64
TCO Hydraulique (%)                float64
TCH Hydraulique (%)                float64
TCO Bioénergies (%)                float64
TCH Bioénergies (%)                float64
JourSemaine                          int32
dtype: object

In [ ]:
#identifier les doublons
df.duplicated().sum()

0

In [41]:
#supprimer la colonne 30
df = df.drop(columns='Column 30')

In [ ]:
#identifier les valeurs vides 
df.isna().sum()

Code INSEE région            0
Région                       0
Nature                       0
Date                         0
Heure                        0
Date - Heure                 0
Consommation (MW)            0
Thermique (MW)               0
Nucléaire (MW)          701275
Eolien (MW)                 96
Solaire (MW)                 0
Hydraulique (MW)             0
Pompage (MW)            736315
Bioénergies (MW)             0
Ech. physiques (MW)          0
Stockage batterie      1683072
Déstockage batterie    1683072
Eolien terrestre       1683072
Eolien offshore        1683072
TCO Thermique (%)      1472244
TCH Thermique (%)      1472244
TCO Nucléaire (%)      1560084
TCH Nucléaire (%)      1742724
TCO Eolien (%)         1472244
TCH Eolien (%)         1472244
TCO Solaire (%)        1472244
TCH Solaire (%)        1472244
TCO Hydraulique (%)    1472244
TCH Hydraulique (%)    1472244
TCO Bioénergies (%)    1472244
TCH Bioénergies (%)    1472244
JourSemaine                  0
dtype: int64

In [57]:
#supprimer les lignes ayant des manquants sur toutes les colonnes indiquées 
df = df.dropna(axis = 0, how = 'all', subset = ['Consommation (MW)','Thermique (MW)','Nucléaire (MW)', 'Eolien (MW)', 'Solaire (MW)', 'Hydraulique (MW)', 'Pompage (MW)', 'Bioénergies (MW)', 'Ech. physiques (MW)'
         ,'Stockage batterie', 'Déstockage batterie', 'Eolien terrestre', "Eolien offshore"
         ,'TCO Thermique (%)', 'TCH Thermique (%)', 'TCO Nucléaire (%)' ,'TCH Nucléaire (%)',	'TCO Eolien (%)',	'TCH Eolien (%)'
         ,	'TCO Solaire (%)',	'TCH Solaire (%)',	'TCO Hydraulique (%)',	'TCH Hydraulique (%)'
        ,'TCO Bioénergies (%)',	'TCH Bioénergies (%)'
         ])